In [2]:
import numpy as np
import pandas as pd
import glob

## Read

In [3]:
glob.glob('data/*')

['data\\clustering_1.txt',
 'data\\clustering_2.txt',
 'data\\clustering_3.txt',
 'data\\clustering_4.txt',
 'data\\clustering_5.txt',
 'data\\partitions.txt']

In [51]:
# read clustering and partitions data
clustering1 = pd.read_table('data/clustering_1.txt', sep=' ', header=None, index_col=0)
partitions = pd.read_table('data/partitions.txt', sep =' ', header=None, index_col=0)
clustering1.columns = ['cluster']
partitions.columns = ['partition']

# merge two df
data = partitions.merge(clustering1, left_index=True, right_index=True)
n = data.shape[0]

## Prob

In [159]:
unique_partition = np.unique(data.partition)
unique_cluster = np.unique(data.cluster)

pij = np.zeros([len(unique_partition), len(unique_cluster)])

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

   cluster  partition     count
0        0          0  0.326667
1        0          1  0.006667
2        1          0  0.003333
3        1          1  0.323333
4        1          2  0.006667
5        2          0  0.003333
6        2          1  0.003333
7        2          2  0.326667

In [165]:
# calculate pij for each cluster
pij_pd = (data.groupby(['cluster','partition']).size().to_frame('count')/n).reset_index() #.reset_index()

# the probability of getting cluter i: #ni/n
pci = data.groupby('cluster').count()/n

# the probability of getting partition j : #nj/n
ptj = data.groupby('partition').count()/n

In [146]:
data.pivot_table(index=['cluster', 'partition'], aggfunc = lambda x: len(x))

cluster  partition
0        0            98
         1             2
1        0             1
         1            97
         2             2
2        0             1
         1             1
         2            98
dtype: int64

In [135]:
np.dot(ptj, pci.T)

array([[0.11111111, 0.11111111, 0.11111111],
       [0.11111111, 0.11111111, 0.11111111],
       [0.11111111, 0.11111111, 0.11111111]])

In [124]:
pij.loc[1]*np.log(np.divide(pij.loc[1], np.multiply(ptj, pci.loc[1].values.reshape(1,1)) ))

              count
partition
0         -0.011689
1          0.345369
2         -0.018756